@model Sklep_Internetowy_.NET.Models.Entity.Product

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-lg border-0 rounded">
                <div class="card-header text-center bg-primary text-white">
                    <h5>@Model.Name</h5>
                </div>

                <div class="card-body text-center">
                    @if (!string.IsNullOrEmpty(Model.ImagePath))
                    {
                        <img src="@Url.Content("~/")@Model.ImagePath" alt="@Model.Name" class="card-img-top" style="max-height: 350px; object-fit: contain;" />
                    }
                    else
                    {
                        <img src="https://dl.memuplay.com/new_market/img/com.innersloth.spacemafia.icon.2024-10-24-12-41-15.png"
                             alt="@Model.Name" class="card-img-top" style="max-height: 350px; object-fit: contain;" />
                    }

                    <p class="mt-4"><strong>Description:</strong> @Model.Description</p>

                    <p><strong>Price:</strong> @Model.Price PLN</p>
                    <p><strong>Quantity Available:</strong> @Model.Quantity</p>

                    <form method="post" asp-area="" asp-controller="Cart" asp-action="AddToCart">
                        <input type="hidden" name="productId" value="@Model.Id" />
                        <button type="submit" class="btn btn-primary btn-lg mt-3">Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
