@model Sklep_Internetowy_.NET.Models.Entity.Product

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-lg border-0 rounded">
                <div class="card-header text-center bg-primary text-white">
                    <h5>@Model.Name</h5>
                </div>

                <div class="card-body text-center">
                    @if (!string.IsNullOrEmpty(Model.ImagePath))
                    {
                        <img src="@Url.Content("~/")@Model.ImagePath" alt="@Model.Name" class="card-img-top" style="max-height: 350px; object-fit: contain;" />
                    }
                    else
                    {
                        <img src="https://dl.memuplay.com/new_market/img/com.innersloth.spacemafia.icon.2024-10-24-12-41-15.png"
                             alt="@Model.Name" class="card-img-top" style="max-height: 350px; object-fit: contain;" />
                    }

                    <p class="mt-4"><strong>Description:</strong> @Model.Description</p>

                    <p><strong>Price:</strong> @Model.Price PLN</p>
                    <p><strong>Quantity Available:</strong> @Model.Quantity</p>

                    <div class="mt-4 d-flex justify-content-between">
                        <a asp-controller="Product" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning btn-sm">
                            <i class="fa-solid fa-pencil"></i> Edit Product
                        </a>

                        <a asp-controller="Product" asp-action="List" class="btn btn-secondary btn-sm">
                            <i class="fa-solid fa-arrow-left"></i> Back
                        </a>

                        <form asp-action="Delete" asp-controller="Product" method="post">
                            <input type="hidden" name="id" value="@Model.Id" />
                            <button type="submit" class="btn btn-danger btn-sm">
                                <i class="fa-solid fa-trash"></i> Delete Product
                            </button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
