@model Sklep_Internetowy_.NET.Models.ViewModel.UserCategoryViewModel

<div class="container my-5">
    <!-- Category Header -->
    <div class="row mb-4">
        <div class="col-12">
            <h1 class="display-4 text-primary">@Model.Category.Name</h1>
        </div>
    </div>

    <!-- Generate Price List Button -->
    <div class="row mb-4">
        <div class="col-12">
            <a asp-area="" asp-controller="Category" asp-action="GeneratePriceList" asp-route-categoryId="@Model.Category.Id" class="btn btn-lg btn-success">
                <i class="fas fa-file-pdf"></i> Generate Price List (PDF)
            </a>
        </div>
    </div>

    <!-- Subcategories Section -->
    <div class="row mb-4">
        <div class="col-12">
            <h3 class="h4 text-secondary">Subcategories</h3>
            <div class="list-group">
                @foreach (var subCategory in Model.SubCategories)
                {
                    <a asp-controller="Category" asp-action="Index" asp-route-categoryId="@subCategory.Id" class="list-group-item list-group-item-action list-group-item-light border-0 hover-effect">
                        <i class="fas fa-caret-right"></i> @subCategory.Name
                    </a>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h3 class="h4 text-secondary mt-4 mb-3">Products</h3>
        </div>

        @foreach (var product in Model.Products)
        {
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2 mb-4">
                    @Html.Partial("_ProductCard", product)

            </div>
        }
    </div>
</div>

