@model Sklep_Internetowy_.NET.Models.Entity.Order

<h2>Potwierdzenie płatności</h2>

<p>Dziękujemy za złożenie zamówienia!</p>
<p>Zamówienie nr: @Model.Id</p>

<h3>Produkty</h3>
<ul>
   @foreach (var product in Model.OrderProducts)
    {
        <li>@product.Product.Name - product.Price PLN </li>
    }
</ul>

<p>Całkowita kwota: @Model.OrderProducts.Sum(p => p.Product.Price * p.Quantity) PLN</p>

<p>Metoda dostawy: @Model.ShippingMethod.ShippingName</p>
<p>Metoda płatności: @Model.PaymentMethod.MethodName</p>
